<div id="footer">
    <div class="footer-child">
        <h4>Newsletter:::</h4>
        <div>
            <p>Get the Latest oraimo News and Giveaways</p>
            <p><input id="input-email" placeholder="Enter your email address" type="text"></p>
            <p>SERVICE HOURS: Monday-Friday 9AM to 8PM</p>
            <p>CUSTOMER SERVICE: +234 818 135 3103 (First Choice) <span id="phone"> +234 809 604 0753 </span></p>
            <p>Whatsapp: +234 901 627 9193 +234 818 642 3337</p>
        </div>
    </div>
    <div class="footer-child">
        <h4>About oraimo:::</h4>
        <div>
            <p>About Us</p>
            <p>Where to Buy</p>
            <p>Special Offer</p>
        </div>
    </div>
    <div class="footer-child">
        <h4>Terms:::</h4>
        <div>
            <p>Warranty</p>
            <p>Order & Shipping</p>
            <p>Replacement & Refund</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>
    </div>
    <div class="footer-child">
        <h4>Get Help:::</h4>
        <div>
            <p>Visit Carlcare</p>
            <p>Track Your Order</p>
            <p>Contact Us</p>
        </div>
    </div>
</div>
<div id="footer2">
    <div class="footer2-sub">
        <p>NEWSLETTER</p>
        <div onclick="showDropdown1()"><img src="./images/icons8-arrowhead-30 (2).png" alt=""></div>
    </div>
    <div id="footer-dropdown1">
        <div>
            <p>Get the Latest oraimo News and Giveaways</p>
            <p><input id="input-email" placeholder="Enter your email address" type="text"></p>
            <p>SERVICE HOURS: Monday-Friday 9AM to 8PM</p>
            <p>CUSTOMER SERVICE: +234 818 135 3103 (First Choice) <span id="phone"> +234 809 604 0753 </span></p>
            <p>Whatsapp: +234 901 627 9193 +234 818 642 3337</p>
        </div>
    </div>
    <div class="footer2-sub">
        <p>ORAIMO</p>
        <div onclick="showDropdown2()"><img src="./images/icons8-arrowhead-30 (2).png" alt=""></div>
    </div>
    <div id="footer-dropdown2">
        <div>
            <p>About Us</p>
            <p>Where to Buy</p>
            <p>Special Offer</p>
        </div>
    </div>
    <div class="footer2-sub">
        <p>TERMS</p>
        <div onclick="showDropdown3()"><img src="./images/icons8-arrowhead-30 (2).png" alt=""></div>
    </div>
    <div id="footer-dropdown3">
        <div>
            <p>Warranty</p>
            <p>Order & Shipping</p>
            <p>Replacement & Refund</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>
    </div>
    <div class="footer2-sub">
        <p>GET HELP</p>
        <div onclick="showDropdown4()"><img src="./images/icons8-arrowhead-30 (2).png" alt=""></div>
    </div>
    <div id="footer-dropdown4">
        <div>
            <p>Visit Carlcare</p>
            <p>Track Your Order</p>
            <p>Contact Us</p>
        </div>
    </div>
</div>
<div id="last-section">
    <div><img id="logo2" src="https://media.ng.oraimo.com/logo/stores/1/oraimo_logo2.0.png" alt=""></div>
    <p>© 2013-2023 oraimo Copyright. oraimo Technology (HK) Ltd</p>
</div>