<header>
    <h4>Welcome to my oraimo exclusive official e-shop. Any concerns please contact care, or victor @ 0806 333 3404 .</h4>   
</header>
<nav>
    <div><img id="logo1" src="https://media.ng.oraimo.com/logo/stores/1/oraimo_logo2.0.png" alt=""></div>
    <div id="nav-span">
        <a href="/"><h4 style="color: #82e600;">Home</h4></a>
        <h4>Daily Deals</h4>
        <h4 onmouseover="showToggle()" onmouseout="hideToggle()">Products</h4>
        <h4>Support</h4>
        <h4>Refer & Get Discounts</h4>
        <h4>Freepods 4</h4>
    </div>
    <div id="nav-right">
        <div><input id="search-oraimo" placeholder="Search oraimo products" type="text"></div>
        <div><a href="/cart"><img class="icons" src="./images/icons8-cart-30.png"></a></div>
        <div><a href="/customerlogin"><img class="icons" src="./images/icons8-user-30.png"></a></div>
    </div>
</nav>
<nav id="nav2">
    <div onclick="hamburgerMenu()"><img id="menu" src="./images/icons8-menu.svg"></div>
    <div><img id="logo-sub" src="https://media.ng.oraimo.com/logo/stores/1/oraimo_logo2.0.png"></div>
    <div id="nav2-right">
        <div><img class="icons" src="./images/icons8-search.svg"></div>
        <div><a href="/cart"><img class="icons" src="./images/icons8-cart-30.png"></a></div>
        <div><a href="/customerlogin"><img class="icons" src="./images/icons8-user-30.png"></a></div>
    </div>
</nav>
<div id="hidden-menu">
    <div>
        <p id="hidden-menu-home"><a href="/">HOME</a></p>
        <p>DAILY DEALS</p>
        <p>PRODUCTS</p>
        <p>SUPPORT</p>
        <p>REFER & GET DISCOUNTS</p>
        <p>FREEPODS 4</p>
    </div>
</div>
<div id="products-toggle">
    <div id="products-toggle-grid">
        <div>
            <div><img src="https://media.ng.oraimo.com/catalog/category/power_1_1.jpg" alt=""></div>
            <div class="products-toggle2">
                <h4>Power</h4>
                <div>
                    <p>Solar Generator</p>
                    <p>Power Banks</p>
                    <p>Power Strip</p>
                    <p>Wall Chargers</p>
                    <p>Car Chargers</p>
                    <p>Cables</p>
                </div>
            </div>
        </div>
        <div>
            <div><img src="https://media.ng.oraimo.com/catalog/category/audio_1.jpg" alt=""></div>
            <div class="products-toggle2">
                <h4>Audio</h4>
                <div>
                    <p>Wireless Stereo Earbuds</p>
                    <p>Wireless Headphones</p>
                    <p>Wireless Earphones</p>
                    <p>Talking Wireless Headsets</p>
                    <p>Open-ear Headphones</p>
                    <p>Wired Earphones</p>
                    <p>Wireless Speakers</p>
                </div>
            </div>
        </div>
        <div>
            <div><img src="https://media.ng.oraimo.com/catalog/category/wearable_1.jpg" alt=""></div>
            <div class="products-toggle2">
                <h4>Wearables</h4>
                <div>
                    <p>Smart Watches</p>
                    <p>Activity Tackers</p>
                </div>
            </div>
        </div>
        <div>
            <div><img src="https://media.ng.oraimo.com/catalog/category/lifestyle.jpg" alt=""></div>
            <div class="products-toggle2">
                <h4>Lifestyle</h4>
                <div>
                    <p>Shaver & Trimmer & Clipper</p>
                    <p>Backpack</p>
                    <p>Vacuums</p>
                    <p>Mice & Keyboard</p>
                    <p>Handle Fan</p>
                    <p>Mirror</p>
                    <p>Camera Accessory</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="nav-sub">
    <p>Free Shipping over ₦9000 in Lagos</p>
    <p>Cash on Delivery</p>
    <p>Hassle-Free Warranty</p>
</div>