<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/index1.css">
    <link rel="stylesheet" href="/public/css/index2.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div id="admindashboard">
        <h1>Admin Dashboard, (<%= foundAdmin.fullname %>)</h1>
        <div>
            <p>Send products display <a href="/sendproducts">here</a></p>
            <p>Send new arrivals <a href="/sendarrivals">here</a></p>
            <p>View placed orders <a href="/placedorders">here</a></p>
            <p>Click <a href="/logout">here </a> to log out</p>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
<script src="/public/javascript/dashboard.js"></script>
</html>